.mainform{
    float: right;
    margin: 0px;
    display: flex;
}

.mainform Button{
    display: block;
}


.cardclass{
    /* display: none; */
    display: block;
    width: 60%;
    min-width: 60%;
    height: 280px;
    margin: auto;
}

.pbar{
    position: fixed;
    bottom: 0;
}