.mainform{
    float: right;
    margin: 0px;
    display: flex;
}

.mainform Button{
    display: block;
}

.content{
    margin-left: 150px;
}

.cardclass{
    display: none;
    width: 60%;
    min-width: 60%;
    height: 280px;
    margin: auto;
}

.pbar{
    position: fixed;
    bottom: 0;
}


.adminbtn{
    margin-left:-100px;
}

.topic{
     text-align: left !important;
}

.listContent{
    margin-left: 100px;
}

.myh5{
    margin-bottom: 0px !important;
    margin-top: 15px !important;
}


.red{
    color: red;
    margin-top: -10px;
    margin-bottom: -5px;
}

.green{
    color:green;
    margin-top: -10px;
    margin-bottom: -5px;
}